<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin_header.ejs') %>
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div
            class="card text-dark shadow p-3 mb-5 bg-white rounded"
            style="border-radius: 1rem"
          >
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Edit User</h2>
                <p class="text-white-50 mb-5">
                  Please enter your login and password!
                </p>
                <form action="/admin/editUser/<%= editId._id %>" method="post">
                    <div class="form-outline form-white mb-4">
                    <input
                      type="name" name="name"
                      id="name" value="<%= editId.name %>"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="typeEmailX" >User's Name</label>
                    <p id="nameError" style="color: red"></p>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input
                      type="email" name="email"
                      id="email" value="<%= editId.email %>"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="typeEmailX">User's Email</label>
                    <p id="emailError" style="color: red"></p>
                  </div>
                 <a href=""><button
                    class="btn btn-outline-primary btn-lg px-5 mt-5"
                    type="submit" value="update"
                  ></a> 
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascript/main.js"></script>